@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

.logo {
    cursor: pointer;
    outline: none;
    border: none;
    font-family: 'Quicksand', sans-serif;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/*
  Color del Loading
*/
svg path,
svg rect{
  fill: var(--secondary-color);
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbarFixed {
    position: fixed;
    width: 100%;
    z-index: 500;
    top: 0;
    left: 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    /* padding: 10px; */
    padding: 0 10px;
    margin: 0 5px;
}

.navbar a:hover {
    padding: 10px;
    border-bottom: 1px solid #fff;
}

.navbar .flex {
    justify-content: space-between;
}

/* showcase */
.separador {
    height: 75px;
}

.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% auto;
    gap: 30px;
}

.showcase-img {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
}

.showcase-img img {
    margin-top: 30px;
}

.showcase::before,
.showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

/* Stats */
.stats {
    padding-top: 100px;
}

.stats-heading {
    max-width: 500px;
    margin: auto;
    font-size: 25px;
}

.stats .grid h3 {
    font-size: 30px;
}

.stats .grid p {
    font-size: 18px;
    font-weight: bold;
}

/* Cloud */
.cloud .grid {
    grid-template-columns: 4fr 3fr;
}
.cloud .grid img {
    height: 480px;
    width: 600px;
    padding: 40px;
}

/* Docs */
/* .docs-top-head img {
    justify-self: flex-end;
    width: 120px;
    height: 120px;
    padding: 1px;
    border-radius: 100%;
    border: 2px #eee solid;
} */



.contactGeneral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 215px;
}

.contactGeneral img {
    width: 120px;
    height: 120px;
    padding: 1px;
    border-radius: 100%;
    border: 2px #eee solid;
}

.contactMe {
    display: flex;
    justify-content: start;
    align-items: start;
}

.contactMe li {
    margin: 0 5px;
}

.contactMe li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    color: var(--light-color);
    font-size: 12.5px;
    border-radius: 10px;
    transition: .2s all;
}

.contactMe li a:hover{
    background-color: #fff;
    color: var(--primary-color);
    font-size: 16px;
 }

.docs-main h3 {
    margin: 20px 0;
}
  
.docs-main .grid.about{
    grid-template-columns: 1fr;
    align-items: flex-start;
}

.docs-main .grid.courses {
    grid-template-columns: 1fr;
    align-items: flex-start;
}

.docs-main .grid.skill {
    grid-template-columns: 1fr;
    align-items: flex-start;
}

.docs-main .grid .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.skills .card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    /* font-size: 20px; */
    text-align: center;
    cursor: pointer;
}
.skills .card .iconTech {
    font-size: 30px;
}

.docs-main div li {
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
}

.aboutMe p{
    text-align: justify;
}

.marginTop {
    margin-top: -30px;
}

.marginTop a {
    cursor: pointer;
}

.marginTop ul li a i {
    margin-right: 10px;
    font-size: 1.8rem;
}

.noBorder ul li{
    border: none;
    text-align: justify;
}

.noBorder ul li i {
    margin-right: 10px;
}

i.ml-3 {
    font-size: 25px;
    color: var(--secondary-color);
}

.certificate {
    margin: 0 5px 0 15px;
    color: goldenrod;
}
.showCert {
    color: goldenrod;
}

/* .education {
    margin-top: 0px;
} */

/* Icons colors */
/* .fa-html5 {
    color: #f06529
}
.fa-css3-alt {
    color: #264de4;
}

.fa-sass {
    color: #cc6699;
}

.fa-bootstrap {
    color: #672cca;
}

.fa-js-square {
    color: 
    #f0db4f;
}

.fa-php {
    color: #8993be;
}

.fa-java {
    color: #5382a1;
}

.fa-node-js {
    color: #3c873a;
}

.fa-angular {
    color: #dd1b16;
}

.fa-database {
    color: #00758F;
}

.fa-git-alt {
    color: #F1502F;
}

.fa-images {
    color: #3C327B;
} */

/* Portfolio*/
.docs-head.portf .container img {
    margin: 0 auto;
}

.portfolio-top-head .grid {
    grid-template-columns: 1fr;
}

.portfolio-intro {
    width: 450px;
}

.portfolio-top-head .grid .proyect-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.proyectoCard {
    cursor: pointer;
}
/* .portfolio-top-head .grid .img-proyect {
    width: 100%;
    text-align: center;
} */

.img-single-proyect {
    width: 380px;
    border-radius: 8px 8px 8px 8px !important;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.img-single-proyect img {
    /* width: 100%; */
    
}

.portfolio-top-head .container.grid.img  {
    grid-template-columns: 1fr;
}

.proyect-description {
    text-align: justify;
    width: 100%;
}

.proyect-images ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.proyect-images ul li {
    width: 300px;
    margin: 3px 3px 0 3px;
}

.proyect-images ul li img {
    border-radius: 4px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    background-size: cover;
}

.portfolio-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.portfolio-imgs img {
    width: 200px;
}

/*================*/
/* Single Proyect */
/*================*/
.container.proyect {
    justify-self: center;
    text-align: center;
}
.container.proyect .title {
    text-align: right;
}

.proyect-intro {
    width: 100%;
    text-align: center;
}

.proyect-intro img{
    width: 300px;
    border-radius: 4px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

section.info .container.grid{
    grid-template-columns: 1fr;
}

/* Not found 404*/
.container.grid.notfound {
    grid-template-columns: 1fr;
}

.notfound {
    margin-left: auto;
    margin-right: auto;
}

.notfound .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notfound .desc h1 {
    font-size: 80px;
    font-weight: 700;
}

.notfound .desc .error {
    font-size: 60px;
}

.notfound .desc .err404 {
    font-size: 120px;
    font-weight: 800;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.notfound .desc .pag {
    font-size: 35px;
}

.notfound .desc a {
    margin-top: 20px;
    /* font-size: 40px; */
}

.notfound .imgNotFound {
    text-align: center;
}

.notfound img {
    width: 450px;
    margin-bottom: 50px;
}


/* Footer */
.footer .social a {
    margin: 0 10px;
}

.footer .goTop {
    position: fixed;
    z-index: 1000;
    right: 50px;
    bottom: 20px;
    width: 35px;
    height: 35px;
    font-size: 18px;
    line-height: 1.8;
    text-align: center;
    border: 1px #fff solid;
    border-radius: 12px;
    background-color: var(--primary-color);
    color: #fff;
    transition: all .2s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.footer .goTop:active{
    box-shadow: none;
}

.d-none {
    display: none;
}

/*seeImage*/
.contentImage img {
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
    width: 45%;
}


/* ---------------- */
/* @media query */
/* ---------------- */

/* Tablets */
@media (max-width: 1024px) {
    .footer .goTop {
        right: 10px;
    }

    /*seeImage*/
    .contentImage img {
        width: 60%;
    }
}

@media (max-width: 768px) {

    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid,
    .features-main .grid,
    .docs-main .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .contactMe {
        justify-content: center;
        align-items: center;
    }

    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
        margin-top: 40px;
        animation: slideInFromTop 1s ease-in;
    }

    .showcase-img {
        justify-self: center;
        margin: auto;
        top: 0px;
        animation: slideInFromBottom 1s ease-in;
    }

    /* .cli .grid > *:first-child {
        grid-column: 1;
        grid-row: 1;
    } */

    /* .features-head,
    .features-sub-head, */
    .docs-top-head {
        text-align: center;
    }
    
    .docs-top-head img {
        justify-self: center;
    }

    .docs-head {
        text-align: center;
    }

    /* .features-head img,
    .features-sub-head img, */
    .docs-head img {
        justify-self: center;
    }

    /* .features-main .grid > *:first-child,
    .features-main .grid > *:nth-child(2) {
        grid-column: 1;
    } */

    .education {
        margin-top: 0;
    }

    .portfalio-intro {
        width: 550px;
    }

    /* Portfolio */
    .portfolio-top-head .grid {
        grid-template-columns: 1fr;
    }

    .container.grid.proyect {
        
    }

    .img-single-proyect {
        width: 240px;
    }

    .container.grid.proyect .title {
        grid-row: 2;
        text-align: center;
    }

    .container.grid.img .proyect-images ul{
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* .container.grid.img .proyect-images ul li {
        width: 120px;
    } */

    /* Not found */
    .notfound img {
        margin: 0 auto;
    }

}

/* Mobile */
@media (max-width: 500px) {

    /* navbar */
    .navbar {
        height: 120px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    /* .navbar .logo {
        margin-top: 25px;
    }

    .navbar .container.flex  {
        margin-top: -10px;
    } */

    .navbar ul {
        border-radius: 4px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    /* showcase */
    .showcase {
        height: auto;
    }

    .showcase-text h1 {
        font-size: 30px;
    }

    .showcase-text p {
        font-size: 14px;
    }

    .showcase-text a {
        width: 115px;
        height: 40px;
        font-size: 12px;
    }

    .showcase-img {
        top: -52px;
        height: 330px;
        width: 360px;
    }

    /* stats */
    .stats .stats-heading {
        font-size: 20px;
    }

    .stats .grid i {
        font-size: 38px;
    }

    .stats .grid h3 {
        font-size: 25px;
    }

    .stats .grid span {
        font-size: 14px;
    }

    /* features */
    .cloud .container .lg {
        font-size: 30px;
    }

    .cloud .container .lead {
        font-size: 14px;
    }

    .cloud .container a {
        width: 160px;
        height: 40px;
        font-size: 12px;
    }

    .cloud .container img {
        height: 400px;
        width: 450px;
    }

    /* about */
    .docs-head .container .xl {
        font-size: 30px;
    }

    .docs-head .container .lead {
        font-size: 14px;
    }

    .docs-head .container img {
        height: 200px;
        width: 360px;
    }

    /* portfolio */
    .portfolio-top-head .container.grid {
        padding: 8px;
    }

    .portfolio-top-head .grid .proyect-detail {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .proyect-detail .img-proyect img {
        width: 100%;
        background-size: cover;
    }

    .proyect-description {
        padding: 0 50px;
        margin-left: 0;
    }

    .proyect-description h2 {
        text-align: left;
    }

    /* Not found */
    .notfound .desc h1 {
        font-size: 60px;
    }
    
    .notfound .desc .error {
        font-size: 40px;
    }
    
    .notfound .desc .err404 {
        font-size: 90px;
        font-weight: 700;
        text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    }
    
    .notfound .desc .pag {
        font-size: 25px;
    }
    
    .notfound .desc a {
        margin-top: 20px;
        /* font-size: 40px; */
    }

    /*seeImage*/
    .contentImage img {
        width: 75%;
    }
    
}

@media (max-width: 414px) {

    /* navbar */
    .navbar {
        height: 100px;
    }

    .navbar .logo {
        margin-top: 25px;
        font-size: 28px;
    }

    .navbar ul {
        padding: 5px;
        font-size: 14px;
    }

    /* showcase */
    .separador {
        height: 100px;
    }
    .showcase-text a.btn {
        position: relative;
        z-index: 200;
    }
    .showcase-img {
        top: -55px;
        height: 200px;
        width: 300px;
    }

    /* features */
    .cloud .container .lg {
        font-size: 30px;
    }

    .cloud .container .lead {
        font-size: 14px;
    }

    .cloud .container a {
        width: 160px;
        height: 40px;
        font-size: 12px;
    }

    .cloud .container img {
        height: 200px;
        width: 300px;
    }

    /* about */
    .docs-head .container .xl {
        font-size: 30px;
    }

    .docs-head .container .lead {
        font-size: 14px;
    }

    .docs-head .container img {
        height: 200px;
        width: 360px;
    }

    .docs-main .container.grid {
        padding: 5px;
    }

    .container.grid.proyect .proyect-intro img {
        width: 300px;
    }

    .notfound .desc h1 {
        font-size: 35px;
    }

    .notfound .desc h2 {
        font-size: 20px;
    }

    .notfound .desc a {
        font-size: 20px;
    }

    .notfound img {
        width: 250px;
    }

    .proyect-description {
        padding: 0 35px;
    }

    /*seeImage*/
    .contentImage img {
        
        width: 110%;
    }
    
}

@media (max-width: 320px) {
    .docs-head .container.grid img {
        width: 280px;
    }

    .fas.fa-university {
        margin-left: 0px !important;
    }

    .proyect-description {
        padding: 0 25px;
    }

    .skills .card {
        width: 100%;
    }
}